




<body>


    <table width="100%" cellpadding="0" cellspacing="0" style="font-weight:normal; background-color:#FFFFFF">
        <tr>

            <th colspan="3" scope="col" style="height:90px; background-color:#2175bc;">
               

                <h2>
                    <font color="#FF0000" size="28" style="font-family:'Sebastian Light'">
                        <img src="~/images/eti.jpg" width="119" height="70" style="padding-top:2px; " /> Yegna Bank &nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                    </font><a  asp-controller="Account" asp-action="Login" style="font-size:21px;color:palevioletred; font-size:28px;text-decoration:none">Sign In</a>
                </h2>


            </th>
            <th> </th>
        </tr>

        <tr>


            <td colspan="2">
                <div style="background-color:thistle">
                    <table width="88%" border="0" style="left:10px" cellpadding="1" cellspacing="0">
                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                        <tr>

                        <tr>
                            <th width="50%">

                                <div>
                                    <table width="100%" height="390" style="border:0; padding:5px;">

                                        <tr>
                                            <td width="28%" rowspan="3">


                                                <script type="text/javascript">
                                                    var i = 0;
                                                    var im = [];
                                                    var time = 2800;


                                                    im[0] = '/images/0ne.jpg';
                                                    im[1] = '/images/bbz.jpg';
                                                    im[2] = '/images/10.jpg';
                                                    im[3] = '/images/savings.jpg';
                                                    im[4] = '/images/tt.jpg';

                                                    function changeImg() {
                                                        document.slide.src = im[i];
                                                        if (i < im.length - 1) {
                                                            i++;
                                                        }
                                                        else {
                                                            i = 0;
                                                        }
                                                        setTimeout("changeImg()", time);
                                                    }
                                                    window.onload = changeImg;

                                                </script>
                                                <img name="slide" width="580" height="480" />



                                            </td>

                                        </tr>




                                        <tr>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                            <td>&nbsp;</td>
                                        </tr>
                                    </table>
                                </div>

                            </th>
                            <th width="50%" scope="col">

                                <p align="left" style="line-height:18px; padding:10px; font-weight:normal; font-family:Sebastian Light; font-size:large">

                                    <marquee><img src="~/images/d.jpg" /></marquee>
                                    The central concept of the application is to allow the  customer(s) to service virtually using the Internet with out going to bank and  allow customers to open new account, withdraw, deposit,  close and  getting balance using this banking service.&nbsp;  The information pertaining to the customers stores on an RDBMS at the  server side (BANK).&nbsp; The Bank services  the customers according to the customer&rsquo;s intention and it updates and backups  of each customer transaction accordingly.
                                </p>


                            </th>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                    </table>
                </div>


            </td>
        </tr>
        <tr style="height:30px;">
            <td colspan="3" style="background-color:#2175bc;">&nbsp;</td>
        </tr>
    </table>

</body>

