@model DepositViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Transfer amount";
}




<body>
    <table width="900" border="1" align="center" cellpadding="0" cellspacing="0" style="font-weight:normal; background-color:#FFFFFF">
        <tr>
            <th colspan="3" scope="col" style="height:90px; background-color:#2175bc;">
                <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,19,0" width="900" height="90">
                    <param name="movie" value="images/Bank.swf" />
                    <param name="quality" value="high" />
                </object>
            </th>
        </tr>
        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            <td width="160">
                <div id="ddblueblockmenu">
                    <div class="menutitle">Account Operations</div>
                    <ul>
                        <li><a asp-controller="Home" asp-action="deposit">Deposit</a></li>
                        <li><a asp-controller="Home" asp-action="withdraw">Do Withdraw</a></li>
                        <li><a asp-controller="Home" asp-action="Balance">Get Balance</a></li>
                        <li><a asp-controller="Home" asp-action="Transfer">Trasnsfer Amount</a></li>
                        <li><a asp-controller="Home" asp-action="index">Go to Home </a></li>

                    </ul>
                    <div class="menutitle">&nbsp;</div>
                </div>

                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
                <p>&nbsp;</p>
            </td>
            <td colspan="2" style="padding:20px;">
                <div class="box1">
                    <marquee><h2><font color="#FF0000">Yegna Bank</font></h2></marquee>
                </div>
                <br />
                <form enctype="multipart/form-data" asp-controller="home" asp-action="transfer" method="post">
                    <table width="70%" border="0" align="center" cellpadding="2" cellspacing="3">
                        <tr>
                            <th colspan="3" bgcolor="#333333" scope="col"><font color="#FFFFFF">transfer Amount to an other Account</font></th>
                        </tr>
                        <tr>
                            <td width="39%">&nbsp;</td>
                            <td width="3%">&nbsp;</td>
                            <td width="58%">&nbsp;</td>
                        </tr>

                        <tr>
                            <td><div align="right"> <label asp-for="SourceAccountNumber"> </label></div></td>
                            <td>:</td>
                            <td>
                                <input readonly=readonly asp-for="SourceAccountNumber" />
                            </td>
                        </tr>
                        <tr>
                            <td><div align="right"> <label asp-for="DestinationAccountNumber"> </label> </div></td>
                            <td>:</td>
                            <td>
                                <input asp-for="DestinationAccountNumber" />

                            </td>
                        </tr>

                        <tr>
                            <td><div align="right"> <label asp-for="TranferAmount"> </label> </div></td>
                            <td>:</td>
                            <td>
                                <input asp-for="TranferAmount" />

                            </td>
                        </tr>

                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>
                                <label>
                                    <input name="Submit" type="submit" value="Transfer" />
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="3" bgcolor="#333333">&nbsp;</td>
                        </tr>
                    </table>
                </form>
            </td>
        </tr>
        <tr style="height:30px;">
            <td colspan="3" style="background-color:#2175bc;">&nbsp;</td>
        </tr>
    </table>
</body>

